<?xml version="1.0" encoding="UTF-8"?>
<config>
	<shared>
		<city1>
			<name>Edinburgh</name>
			<country>United Kingdom</country>
			<lat>55.953237</lat>
			<long>-3.188438</long>
		</city1>
		<city2>
			<name>San Diego</name>
			<country>United States</country>
			<lat>32.7153292</lat>
			<long>-117.1572551</long>
		</city2>
	</shared>
	<news>
		<base_uri>http://content.guardianapis.com/search?q=</base_uri>
		<order-by>relevance</order-by>
		<results>5</results>
		<dates>last7days</dates>
		<!--TODO: Excluded sections-->
	</news>
	<lastfm>
		<apiKey>efb8ea84b7e2ed5fa230a15d080cef3d</apiKey>
		<secret>fd7d5951826e506bfe5dce353e335157</secret>
		<!--default method: get most popular current artists in the city
			other methods *are* available-->
		<method>geo.getmetroartistchart</method>
		<results>5</results>
	</lastfm>
	<instagram>
		<clientId>f14193a346d84a08b6cbf229b4022ed0</clientId>
		<clientSecret>4ebe97f740a04b34ab0633cc88ce112d</clientSecret>
	</instagram>
</config>