/* evening */

body {
	background-image:url("../../images/eveningmutedbg.png");
	
}

header, footer {
	background-image:url("../../images/eveningheaderbg.png");
}

footer::before , footer::after {
	background-image:url("../../images/eveningmutedbg.png");
}


#ed  h1,h2,h3,h4,h5, #sd  h1,h2,h3,h4,h5  {
	color:#0e2b4b;
	font-family: 'PTSansBold';
}

section a {
    color:#0e2b4b;
   
}

section a:visited {
    color:#0e2b4b;
   
}

section a:hover {
    color:#0e2b4b;
    text-decoration:underline;
   
}

section a:active {
    color:#0e2b4b;
   
}