/* midday */

body {
	background-image:url("../../images/middaymutedbg.png");
	
}

header, footer  {
	background-image:url("../../images/middayheaderbg.png");
}

footer::before , footer::after {
	background-image:url("../../images/middaymutedbg.png");
}

#ed  h1,h2,h3,h4,h5, #sd  h1,h2,h3,h4,h5  {
	color:#0b5fad;
	font-family: 'PTSansBold';
}