/* morning */

body {
	background-image:url("../../images/morningmutedbg.png");
	
}

header, footer  {
	background-image:url("../../images/morningheaderbg.png");
}

footer::before , footer::after {
	background-image:url("../../images/morningmutedbg.png");
}


#ed  h1,h2,h3,h4,h5, #sd  h1,h2,h3,h4,h5  {
	color:#466cc7;
	font-family: 'PTSansBold';
}

section a {
    color:#466cc7;
   
}

section a:visited {
    color:#466cc7;
   
}

section a:hover {
    color:#466cc7;
    text-decoration:underline;
   
}

section a:active {
    color:#466cc7;
   
}